In [6]:
import pandas as pd
import numpy as np

In [ ]:
lst = [['Geek', 25], ['is', 30], 
       ['for', 26], ['Geeksforgeeks', 22]]

In [ ]:
lst

In [ ]:
df = pd.DataFrame(lst, columns = ['Tag','number'])
print(df)

In [ ]:
df

In [ ]:
data = [['Geek1', 28, 'Analyst'],
        ['Geek2', 35, 'Manager'],
        ['Geek3', 29, 'Developer']]

In [ ]:
columns = ['Name', 'Age','Occupation']

In [ ]:
df1 = pd.DataFrame(data, columns=columns)

In [ ]:
df1

In [ ]:
data = [['Geek1', 26, 'Scientist'],
        ['Geek2', 31, 'Researcher'],
        ['Geek3', 24, 'Engineer']]

In [ ]:
columns = ['Name', 'Age', 'Occupation']

In [ ]:
df2 = pd.DataFrame.from_dict(dict(zip(columns, zip(*data))))

In [ ]:
df2

In [ ]:
data = [['Geek1', 'Reacher', 25],
        ['Geek2', 'Pete', 30],
        ['Geek3', 'Wilson', 26],
        ['Geek4', 'Williams', 22]]

In [ ]:
columns = ['FName', 'LName', 'Age']

In [ ]:
df3 = pd.DataFrame(data, columns=columns)
df3

In [ ]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
data = {'Category':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}

In [ ]:
df4 = pd.DataFrame(data)

In [ ]:
df4

In [ ]:
print(df4.transpose())

In [ ]:
data = {'Area':['Array', 'Stack', 'Queue'],
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}

In [ ]:
df5 = pd.DataFrame(data, index = ['Cat_1','Cat_2','Cat_3'])

In [ ]:
df5

In [ ]:
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', None, 'Data Scientist'],
        ['Geek3', 32, None]]

In [ ]:
columns = ['Name','Age','Occupation']

In [ ]:
df6 = pd.DataFrame(data, columns=columns)

In [ ]:
df6 = df6.replace({None: np.nan})

In [ ]:
df6

In [ ]:
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', 25, 'Data Scientist'],
        ['Geek3', '32', 'Manager']]

In [ ]:
columns = ['Name','Age','Occupation']

In [ ]:
df7 = pd.DataFrame(data, columns=columns)

In [ ]:
df7

In [ ]:
df7['Age'] = pd.to_numeric(df['Age'],errors='coerce')

In [ ]:
data = [[1, 5, 10], [2, 6, 9], [3, 7, 8]]

In [ ]:
df8 = pd.DataFrame(data)
df8

In [ ]:
df8.columns = ['Col_1', 'Col_2', 'Col_3']

In [ ]:
df8

In [ ]:
print(df8, '\n')

In [ ]:
df8 = df8.transpose()
df8

In [ ]:
data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]

In [ ]:
df9 = pd.DataFrame(data,columns = ['Name', 'Age', 'Score'])
df9

In [ ]:
columns=['Team', 'Age', 'Score']
df10 = pd.DataFrame.from_records(data, columns = columns)

In [ ]:
df10

In [ ]:
data = [('Peter', 18, 7),
        ('Riff', 15, 6),
    ('John', 17, 8),
    ('Michel', 18, 7),
    ('Sheli', 17, 5) ]

In [ ]:
df = pd.DataFrame(data, columns =['Team', 'Age', 'Score'])

In [ ]:
df

In [ ]:
a = df.pivot(index='Team', columns='Score', values='Age')
a

In [ ]:
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]

In [ ]:
data

In [ ]:
df = pd.DataFrame.from_records(data, index=['1','2'])

In [ ]:
print(df)

In [ ]:
df = pd.DataFrame.from_dict(data)

In [ ]:
df

In [ ]:
df = pd.json_normalize(data)

In [ ]:
df

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df1 = pd.DataFrame(data, index=['ind1','ind2'], columns=['Geeks','For'])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame(data, index=['indx','indy'])

In [ ]:
df2

In [ ]:
print(df1,"\n")

In [ ]:
print(df1)

In [ ]:
print(df2)

In [ ]:
countries = {
    "1": {"Country": "New Country 1",
          "Capital": "New Capital 1",
          "Population": "123,456,789"},
    "2": {"Country": "New Country 2",
          "Capital": "New Capital 2",
          "Population": "987,654,321"},
    "3": {"Country": "New Country 3",
          "Capital": "New Capital 3",
          "Population": "111,222,333"}
}

In [ ]:
countries

In [ ]:
df = pd.DataFrame.from_dict(countries,orient='index')
df

In [ ]:
list = [{
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                    ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                    ],
        "Name": "Chunky Pandey"
        }
        ]

In [ ]:
list

In [ ]:
print(list)

In [ ]:
rows = []

In [ ]:
for data in list:
    data_row = data['Student']
    time = data['Name']
    
    for row in data_row:
        row['Name'] = time
        rows.append(row)
        
df = pd.DataFrame(rows)
print(df)

In [ ]:
countries = {
    "1": {"Country": "New Country 1",
          "Capital": "New Capital 1",
          "Population": "123,456,789"},
    "2": {"Country": "New Country 2",
          "Capital": "New Capital 2",
          "Population": "987,654,321"},
    "3": {"Country": "New Country 3",
          "Capital": "New Capital 3",
          "Population": "111,222,333"}
}

In [ ]:
df = pd.DataFrame.from_dict(countries, orient = 'index')

In [ ]:
print(df)

In [1]:
list = [
    {
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                    ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                    ],
        "Name": "Chunky Pandey"
        }
]

In [ ]:
print(list)

In [2]:
rows = []

In [ ]:
for data in list:
    data_row = data['Student']
    time = data['Name']

In [ ]:
data_row

In [ ]:
time

In [ ]:
for row in data_row:
        row['Name'] = time
        rows.append(row)

In [ ]:
row

In [3]:
for data in list:
    data_row = data['Student']
    time = data['Name']
    
    for row in data_row:
        row['Name'] = time
        rows.append(row)

In [7]:
df = pd.DataFrame(rows)

In [8]:
print(df)

   Exam Grade           Name
0    90     a     Paras Jain
1    99     b     Paras Jain
2    97     c     Paras Jain
3    89     a  Chunky Pandey
4    80     b  Chunky Pandey

In [ ]:
list1 = [
    {
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                    ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                    ],
        "Name": "Chunky Pandey"
        }
]

In [ ]:
rows1 = []

for data in list1:
    data_row = data['Student']
    time = data['Name']
    
    for row in data_row:
        row['Name'] = time
        rows1.append(row)

In [ ]:
rows1

In [ ]:
data

In [ ]:
row

In [ ]:
df =  df.pivot_table(index='Name', columns = ['Grade'], values=['Exam'])

In [ ]:
df

In [9]:
df =  df.pivot_table(index='Name', columns = ['Grade'], values=['Exam']).reset_index()

In [10]:
df

                Name  Exam
Grade                    a     b     c
0      Chunky Pandey  89.0  80.0   NaN
1         Paras Jain  90.0  99.0  97.0

In [11]:
df.columns = ['Name', 'Maths', 'Physics', 'Chemistry']

In [12]:
print(df)

            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0

In [13]:
df =  pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})

In [14]:
index = [pd.Period('02-2018'),pd.Period('04-2018'),pd.Period('06-2018'),pd.Period('10-2018'),pd.Period('12-2018')]

In [16]:
df.index = index

In [17]:
print(df)

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [18]:
df_updated = df.replace(to_replace='[nN]ew', value = 'New_', regex = True)

In [19]:
print(df_updated)

                 City        Event   Cost
2018-02     New_ York        Music  10000
2018-04       Parague       Poetry   5000
2018-06    New_ Delhi      Theatre  15000
2018-10        Venice       Comedy   2000
2018-12  New_ Orleans  Tech_Summit  12000